.twit-item {
  padding: 1.5em;
  border-bottom: 1px solid #d9d9d9;
}
a {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  padding: 0 10px;
  text-decoration: none;
  margin-top: 17px;
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: #fff;
}

button{
  max-width: 40px;
}

.ui-widget-header .ui-button:enabled:hover, .ui-widget-header .ui-button:focus, .ui-widget-content .ui-button:enabled:hover, .ui-widget-content .ui-button:focus, .ui-widget.ui-button:enabled:hover, .ui-widget.ui-button:focus, .ui-button:enabled:hover, .ui-button:focus {
  border: 1px solid transparent;
  background: transparent;
  outline: 0 none;
  color: #ffffff;
}


